{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "security",
    "react"
  ],
  "extends": [
    "plugin:security/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-set-state": 2,
    "security/detect-object-injection": 0,
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-console": 0,
    "eqeqeq": 2,
    "quotes": [
      "error",
      "single"
    ],
    "no-bitwise": 2,
    "camelcase": 2,
    "curly": 2,
    "vars-on-top": "error",
    "space-in-parens": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "func-call-spacing": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  },
  "globals": {
    "console": true,
    "window": true,
    "document": true,
    "setTimeout": true,
    "$": true,
    "jQuery": true,
    "AJS": true,
    "Confluence": true,
    "tinyMCE": true,
    "tinymce": true,
    "AP": true
  }
}
